.more-info-conteiner {
	background-color: #E0E0E0;
	background-size: 1vw;
	display: flex;
	justify-content: center;
	gap: 40px;
	margin: auto;
}
.more-info-col1-conteiner {
	max-width: 320px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 70px;
	align-items: flex-start;
}
.more-info-col1-card {
	height: 380px;
	margin-bottom: 10px;
}
.more-info-col1-card > img {
	width: 100%;
}
.more-info-col1-conteiner > h2 {
	font-size: 1rem;
	font-weight: 400;
	background-color: #e41b23;
	color: #ffffff;
	padding: 1px 15px;
}
.more-info-col1-conteiner > h1 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 20px;
}
.more-info-col1-conteiner > h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 40px;
	line-height: 1.6rem;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
	-webkit-box-orient: vertical;
}
.more-info-col2-conteiner {
	max-width: 200px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: flex-start;
	margin-top: 153px;
	margin-bottom: 10px;

}
.more-info-col3-conteiner {
	max-width: 540px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: flex-start;
	margin-top: 70px;
	margin-bottom: 80px;
}
.more-info-col3-conteiner > h1 {
	font-size: 2.25rem;
	font-weight: 600;
}
.more-info-col3-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
