.more-info-col2-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
.more-info-col2-card > h2 {
	font-size: .75rem;
	font-weight: 400;
	background-color: #e41b23;
	color: #ffffff;
	padding: 1px 15px;
}
.more-info-col2-card > h1 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.6rem;
}
.more-info-col2-card > p {
	font-size: .75rem;
	font-weight: 300;
	font-family: Roboto;
	line-height: 1.12rem;

	display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
