.interview-conteiner {
	max-width: 1140px;
	display: flex;
	gap: 40px;
	margin: auto;
}
.interview-col1-conteiner {
	max-width: 530px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}
.interview-col1-conteiner > p {
	font-size: 1.5rem;
	font-family: 'Permanent Marker';
	line-height: 3rem;
}
.interview-col1-conteiner > p::before {
	content: '"';
	font-size: 3rem;
}
.interview-col1-conteiner > p::after {
	content: '"';
	line-height: 0;
	font-size: 3rem;
}
.interview-col1-conteiner > h1 {
	font-family: 'Permanent Marker';
	line-height: 3rem;
}
.interview-col2-conteiner {
	min-width: 570px;
}
.interview-col2-conteiner > img {
	width: 100%;
}
