.main-col1-conteiner {
	display: flex;
	gap: 20px;
}
.main-col1-card-image {
	max-width: 350px;
	max-height: 300px;
}
.main-col1-card-image > img {
	max-width: 100%;
}
.main-col1-card-info {
	max-height: 300px;
	max-width: 270px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}
.main-col1-card-info > h2 {
	font-size: 1rem;
	font-weight: 400;
	background-color: #E41B23;
	color: #FFFFFF;
	padding: 1px 15px;
}
.main-col1-card-info > h1 {
	font-size: 2.25rem;
	font-weight: 600;
	line-height: 2.6rem;
}
.main-col1-card-info > p {
	font-size: 1rem;
	font-weight: 300;
	font-family: Roboto;
	line-height: 1.5rem;

	display: -webkit-box;
  -webkit-line-clamp: 6;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
a {
	color: #000000;
}

