<div class="content-image">
	<h2>SUBJECT</h2>
	<app-big-card></app-big-card>
</div>
<div class="content-notice">
	<h1>TITLE</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque accusamus aspernatur animi neque dolorum architecto iste quod aperiam excepturi eaque facere nesciunt adipisci quas commodi ad maiores ullam, vitae temporibus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas nostrum neque dignissimos delectus quo, eos, repellendus omnis illum officiis earum ducimus voluptates ab in iure, recusandae aspernatur error rem dolore? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit non expedita accusamus, aliquid maxime illum beatae quos autem minus? Minus pariatur cumque consequatur nostrum maxime veritatis impedit molestias quas praesentium?</p>
</div>
