.menu-bar-conteiner {
	max-width: 720px;
	font-size: 1rem;
	margin: auto;
}
.menu-bar-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.menu-bar-flex-item {
	padding: 10px;
	white-space: nowrap;
	font-weight: 600;
}
